*{
    font-family: Open Sans;
}

header{
    background: #FFF8F3;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 230px;
    
}
nav li{
    margin-left: 51px;
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav a{
    text-decoration: none;
    color: black;
}

.nav-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
    align-items: center;
    padding-left: 226px;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    
    
    height: 64px;
    flex-shrink: 0;
    border: 0px;
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

header .banner{
    padding-left: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.banner .btn{
    display: flex;
    justify-content: safe;
    padding-right: 200px;
}

.banner figure{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.banner-greetings{
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
}

.banner p{
    color: var(--Dark-03, #757575);
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        /* 166.667% */
}



